* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e9edee;
}

p {
  text-align: center;
}

h1,
h2 {
  color: white;
  text-align: center;
  line-height: 2.3;
  font-weight: bold;
}

h1 {
  font-size: 1.2em;
}

h2 {
  font-size: 0.8em;
}

/* utilities */

.mt {
  margin-top: 20px;
}

.a__link {
  text-decoration: none;
  color: #0e6075;
  font-weight: bold;
  font-size: 14px;
}

/* menu di navigazione */

.logo__bg {
  background-color: #222f3f;
  padding: 10px;
}

.logo {
  height: 30px;
  margin-left: 20px;
}

nav ul {
  background-color: #364759;
  font-size: 12px;
  padding: 10px;
}

li {
  display: inline-block;
  margin: 0 10px;
}

li a {
  color: white;
  text-decoration: none;
}

/* hero */

main {
  padding-inline: 20px;
}

.orangebar {
  background-color: #f56600;
  color: white;
  font-size: 12px;
  padding: 10px;
  text-align: center;
}

.greenbar {
  background-image: url(./images/bg-image.png);
  padding-block: 40px;
  background-size: contain;
}

/* gift */

.giftbox {
  background: white;
  padding: 20px 10px 10px;
}

.giftbox p {
  display: inline-block;
}

.giftbox h3 {
  display: inline-block;
  margin: 0 20px 0 10px;
}

.imagesbox {
  margin-top: 10px;
  text-align: center;
}

.image__container {
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  display: inline-block;
  width: 240px;
  height: 350px;
  overflow: hidden;
  position: relative;
  margin-inline: 10px;
}

.image {
  border-radius: 20px;
  height: 100%;
}

.i1 {
}

/* visor */

.visor {
  background-color: red;
  height: 45vh;
}
